* {
    padding: 0;
    margin: 0;

}

body {
    background-color: black;
}

.main {
    background-image: url("assets/imgs/bg.jpg");


    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 644px;
    position: relative;


}

.main.box {
    height: 70vh;
    width: 100%;
    position: absolute;
    opacity: 0.44;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;

}

nav img {
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
    background-color: white;
}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font: message-box;
    font-size: larger;

}

.sep {
    height: 7px;
    background-color: rgb(58, 57, 57);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    cursor: pointer;


}

.btn-red {
    background-color: red;
    color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 7px;
}

.btn-red-sm {
    background-color: red;
    color: white;

}

.main input {
    padding: 13px 30px 13px 0;
    font-size: 20px;
    border-radius: 7px;

    /* background-color:transparent; */

}

.first {
    display: flex;

    max-width: 50vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 36px;
    right: 0;
    left: 77px;
    height: 256px;
    width: 333px;
}

.hey video {
    position: absolute;
    top: -14px;
    right: 0;
    left: 47px;
    height: 247px;
    width: 325px;
    

}

.hey img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

